@charset "utf-8";

@import 'compass', 'compass/reset';

@import 'mapbox', 'morris';

@import 'icons';

$duration: 500ms;

$bg-red: #e54c4c;

body {
  font: normal 100%/1.5em 'Lora', serif;
  -webkit-font-smoothing: antialised;
  text-rendering: optimizeLegibility;

  &:before {
    content: 'sample data';
    position: fixed;
    z-index: 100;
    color: white;
    opacity: .75;
    top: 50%;
    line-height: 1em;
    margin-top: -.5em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3em;
    font-style: italic;
  }
}


strong { font-weight: 700; }
em { font-style: italic; }

a {
  color: #444;
}

#map {
  font: normal 100%/1.5em 'Lora', serif;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute !important;
  background: $bg-red;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  padding: .75em;
  font-size: 1.5em;
  font-weight: 700;
  background: #e54c4c;

  .hashtag {
    font-size: 75%;
    font-weight: 400;
    text-decoration: none;
  }
}

.box {
  position: fixed;
  background: white;
  background: rgba(255,255,255,.75);
  padding: 1em;
  margin: 1em;
}

.leaflet-control-zoom.leaflet-control {
  display: none !important;
  margin: 1em;
  border: 0;
  background: transparent;

  a {
    width: 2em;
    height: 2em;
    padding: 0;
    line-height: 2em;
    margin: 0;
    font-size: 1em;
    border: 0;
    border-radius: 0;
    background: white;
    background: rgba(255, 255, 255, 0.75);
    color: #444;

    &.leaflet-control-zoom-in {
      border-bottom: 1px solid #ccc;
      border-bottom-color: rgba(black, .25);
      margin-top: -1px;
    }
  }

}

.chart-box {
  bottom: 0;
  left: 0;
  width: 30%;
  height: 25%;
  padding: 2.5em 0 .5em .5em;
  -webkit-font-smoothing: antialiased;
  @include transition(all .3s linear);

  &.large {
    bottom: 25%;
    left: 25%;
    width: 50%;
    height: 30%;
    @include box-sizing(border-box);
  }

  #chart {
    width: 100%;
    height: 100%;
  }

  &:before {
    content: 'Conflicts';
    position: absolute;
    top: 1em;
    left: 1.25em;
    color: hsl(0, 25%, 10%);
    font-style: italic;
  }
}

.refresh-button {
  left: 0;
  top: 5em;
  padding: 0;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  line-height: 1em;
  text-align: center;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.5em;
    text-indent: 0;
  }

}


.morris-hover { display: none !important; }

.info {
  top: 0;
  right: 0;
}

.decade-title {
  font-size: 2em;
  font-weight: bold;
}

.invasion-info {
  top: 4.5em;
  right: 0;
}



// .leaflet-marker-icon {
//   display: none;
// }

.invasion {
  display: block;
  background: aliceblue;
  border-radius: 50%;
  box-shadow: 0 0 0 .25em rgba(0,0,0,.25);
  z-index: 100 !important;

  @include transition(all $duration ease-in-out);

  // .tooltip { display: none; }

  &.finished {
    background: yellow;
    box-shadow: none;
    width: 2em !important;
    height: 2em !important;
    text-align: center;
    line-height: 2em;
    margin: -1em !important;

    @extend .icon-skull;

    .tooltip { display: none; }

    &:hover {
      z-index: 101 !important;
      .tooltip { display: block; }
    }
  }
}


.tooltip {
  position: absolute;
  white-space: nowrap;
  background: white;
  color: black;
  padding: 0 .5em;
  line-height: 2em;
  top: 50%;
  left: 100%;
  margin-top: -1em;
  margin-left: .5em;
  border-radius: 2px;
  font-family: 'Lora', serif;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    left: -1em;
    border: .5em solid transparent;
    border-right-color: white;
  }
}

.leaflet-container .leaflet-control-attribution {
  background: transparent;
  box-shadow: none;
  padding: .5em 1em;
}
