@charset "utf-8";

@import 'compass', 'compass/reset';

@import 'mapbox', 'morris';

@import 'icons';

body {
  font: normal 100%/1.5em 'Lora', serif;
  -webkit-font-smoothing: antialised;
  text-rendering: optimizeLegibility;
}


strong { font-weight: 700; }
em { font-style: italic; }


#map {
  font: normal 100%/1.5em 'Lora', serif;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute !important;
}


.leaflet-marker-icon {
  background: aliceblue;
  border-radius: 50%;
  box-shadow: 0 0 0 .25em rgba(0,0,0,.25);

  @include transition(all 1s ease-in-out);

  &.finished {
    background: orangered;
    box-shadow: none;
    width: 2em !important;
    height: 2em !important;
    text-align: center;
    line-height: 2em;
    margin: -1em !important;

    @extend .icon-skull;

    .tooltip { display: none; }

    &:hover {
      .tooltip { display: block; }
    }
  }
}


.tooltip {
  position: absolute;
  white-space: nowrap;
  background: white;
  color: black;
  padding: 0 .5em;
  line-height: 2em;
  top: 50%;
  left: 100%;
  margin-top: -1em;
  margin-left: .5em;
  border-radius: 2px;
  font-family: 'Lora', serif;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    left: -1em;
    border: .5em solid transparent;
    border-right-color: white;
  }
}
