
#map

%h1
  International Day of Peace 2013
  = link_to '#PeaceDay', 'https://twitter.com/search?q=%23PeaceDay', class: 'hashtag'

#info.info.box
#invasion-info.invasion-info.box


#chart-box.box.chart-box
  #chart


%ul.sources
  %li= link_to 'Patterns of major armed conflicts, 2000–2009', 'http://www.sipri.org/yearbook/2010/files/SIPRIYB201002A.pdf'
  %li= link_to 'UCDP/PRIO Armed Conflict Dataset', 'http://www.prio.no/Data/Armed-Conflict/UCDP-PRIO/Armed-Conflicts-Version-X-2009/'
